<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" href="/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
        </div>
        <div class="nav">
            <a class="nav-link" href="/product">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Product
            </a>
        </div>
        <div class="nav">
            <a class="nav-link" href="/vendor">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Vendor
            </a>
        </div>
        <div class="nav">
            <a class="nav-link" href="/transaction">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Transaksi
            </a>
        </div>
    </div>
</nav>